h2{
    color:red; background-color:purple;
}

body{
  
    background-image: url(m3.jpg);
    background-repeat: no-repeat;
    background-position: top;
}
.p4{
   border: 2px black dotted;
   border-radius:10px;
}
    .bijoy{
        width:100px;
        height:100px;
        background-color:rgb(51, 77, 77);
        border: 5px red solid;
        margin:auto;
        padding-left:100px;
        outline: 10px solid rgb(31, 32, 31);
        outline-offset:10px;
    }
    table{
        background-color: chartreuse;
    }
    th,td{
        color: red;
    }
    p3{
        background-color: chartreuse;
        display: block in line;
    }